<div class="course-item" appSetBorder [creationDate]="course.creationDate" [ngClass]="{'top_rated': course.topRated}">
    <div class="card-left">
        <div class="card-header">
            <h3>{{ course.title | uppercase }}<mat-icon *ngIf="course.topRated" class="star">star</mat-icon>
            </h3>
            <p>
                <mat-icon>access_time</mat-icon><span>{{ course.duration | formatDuration }}</span>
                <mat-icon>calendar_today</mat-icon><span>{{ course.creationDate | date: 'medium' }}</span>
            </p>
        </div>
        <div class="description">{{ course.description }}</div>
    </div>
    <div class="buttons">
        <button mat-raised-button color="primary">
            <mat-icon>edit</mat-icon>Edit
        </button>
        <button mat-raised-button color="primary" (click)="onDeleteButtonClicked()">
            <mat-icon>delete</mat-icon>Delete
        </button>
    </div>
</div>