.course-item {
    margin-bottom: 10px;
    padding: 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;

    align-items: center;
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.card-left {
    width: 75%;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header p {
    font-size: 0.8rem;
    align-self: flex-start;
}

.card-header span {
    margin: 0 10px 0 5px; 
}

.card-header .mat-icon {
    color: lightslategray;
}

.card-header .star {
    color: orange;
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    margin: 5px;
    vertical-align: text-bottom;
}

.material-icons {
    font-size: 1.2rem;
    vertical-align:text-bottom;
}

.mat-icon {
    height: 1.2rem;
    width: 1.2rem;
}
h3 {
    font-size: 1.5rem;
    padding: 1rem 0;
}

.card-header .star {
    color: orange;
    vertical-align: top;
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 5px;
}

button {
    font-size: 0.8rem;
    margin-right: 5px;
}

.top_rated {
    background-color: rgb(185, 243, 253);
}