<div class="label_container"><label for="authors">Authors:</label><span>*required</span></div>
<form #allAuthorsForm="ngForm">
    <select
        name="allAuthorsSelect"
        class="authors_select"
        [ngClass]="{ invalid: errors }"
        ngModel
        (ngModelChange)="onSelectChanged($event)"
        (blur)="onTouched()"
    >
        <option [ngValue]="null" disabled>Select author</option>
        <option *ngFor="let author of allAuthors$ | async" [ngValue]="author.id">
            {{ author.name }}
        </option>
    </select>
</form>
<div class="authors">
    <div *ngFor="let author of authors" class="author">
        <span id="{{ author.id }}">{{ author.name }}</span>
        <button (click)="authorDelete(author.id)" class="close">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
