<div class="container">
    <app-breadcrumbs></app-breadcrumbs>
    <app-courses-header (searchButtonClicked)="onSearchButtonClicked($event)"></app-courses-header>
    <div *ngIf="courseList.length > 0; else message">
        <div class="courses" *ngFor="let item of courseList; trackBy: trackById">
            <app-course-item [course]="item" (deleteButtonClicked)="onDeleteButtonClicked($event)">
            </app-course-item>
        </div>
        <button class="load" (click)="onLoadMoreClick()">Load more</button>
    </div>
    <ng-template #message>
        <div class="nodata_message">No data to display</div>
    </ng-template>
</div>