<div class="container">
<app-courses-header></app-courses-header>

<div class="courses" *ngFor="let item of courseList; trackBy: trackById">
    <app-course-item [title]="item.title"
        [description]="item.description"
        [duration]="item.duration"
        [creationDate]="item.creationDate"
        [courseId]="item.id"
        (deleteButtonClicked)="onDeleteButtonClicked($event)"
    >
    </app-course-item>
</div>
<button class="load" (click)="onLoadMoreClick()">Load more</button>
</div>

